@mixin layout ($col,$col2 , $row){
    grid-template-columns: $col  $col2;
    grid-template-rows: $row;
}

@mixin layout_mobile ($col, $row){
    grid-template-columns: $col ;
    grid-template-rows: $row;
}

@mixin image-size($width, $height,){
width:$width ;
height: $height ;
}


@mixin h2_styling(){
     font-family: 'Georgia', serif;
    font-size: 2.2rem;
    
    font-weight: 500;
}

@mixin description_styling(){
     font-size: 18px; font-family: 'outfit';
        margin-left: 5%;margin-right: 5%;
        font-weight:lighter;
}